<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkgirl.spring5.chapter18.dao.ShopInfoDAO">
    <resultMap id="BaseResultMap" type="com.monkgirl.spring5.chapter18.entities.ShopInfo">
        <id column="shop_id" jdbcType="BIGINT" property="shopId" />
        <result  column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result  column="account" jdbcType="VARCHAR" property="account"/>
    </resultMap>

    <sql id="Base_Column_List">
        shop_id, shop_name, account
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM shop_info WHERE shop_id = #{shopId, jdbcType=BIGINT}
    </select>

    <insert id="insert" parameterType="com.monkgirl.spring5.chapter18.entities.ShopInfo">
        INSERT INTO shop_info(shop_id, shop_name, account) VALUES(#{shopId, jdbcType=BIGINT}, #{shopName, jdbcType=VARCHAR},
        #{account, jdbcType=VARCHAR})
    </insert>
    <insert id="insertAutoIncrement" parameterType="com.monkgirl.spring5.chapter18.entities.ShopInfo">
        INSERT INTO shop_info(shop_name, account) VALUES(#{shopName, jdbcType=VARCHAR},
        #{account, jdbcType=VARCHAR})
    </insert>
</mapper>