<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.monkgirl.spring5.chapter17.dao.CustomerOrderDAO">
    <resultMap id="BaseResultMap" type="com.monkgirl.spring5.chapter17.entities.CustomerOrder">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result  column="amount" jdbcType="INTEGER" property="amount"/>
        <result  column="add_date" jdbcType="TIMESTAMP" property="addDate"/>
        <result  column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <select id="query" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT * FROM customer_order WHERE id = #{id, jdbcType=BIGINT}
    </select>

    <insert id="save" parameterType="com.monkgirl.spring5.chapter17.entities.CustomerOrder">
        INSERT INTO customer_order(id, amount) VALUES(#{id, jdbcType=BIGINT}, #{amount, jdbcType=BIGINT})
    </insert>

</mapper>